body{
    background-color: burlywood;
}

img {
    height: 250px;
    border-radius: 100px;
    float: left;
    margin-right: 50px;
    margin-bottom: 25px;
}

.role{
    font-weight: bold;
    font-size: large;
}

.desc{
    font-size: medium;
}
